@model Order
<div asp-validation-summary="All" class="text-danger"></div>
<form asp-action="Checkout" method="post">
    <h3>Ship to</h3>
    <div class="form-group">
        <label>Name:</label><input asp-for="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label>Email:</label><input asp-for="Email" class="form-control" />
    </div>
    <div class="form-group">
        <label>Phone:</label><input asp-for="Phone" class="form-control" />
    </div>
    <h3>Address</h3>
    <div class="form-group">
        <label>Line 1:</label><input asp-for="Line1" class="form-control" />
    </div>
    <div class="form-group">
        <label>Line 2:</label><input asp-for="Line2" class="form-control" />
    </div>
    <div class="form-group">
        <label>Line 3:</label><input asp-for="Line3" class="form-control" />
    </div>
    <div class="form-group">
        <label>City:</label><input asp-for="City" class="form-control" />
    </div>
    <div class="form-group">
        <label>State:</label><input asp-for="State" class="form-control" />
    </div>
    <div class="form-group">
        <label>Zip:</label><input asp-for="Zip" class="form-control" />
    </div>
    <div class="form-group">
        <label>Country:</label><input asp-for="Country" class="form-control" />
    </div>
    <h3>Payment</h3>
    <input type="hidden" id="braintreeNonce" name="braintreeNonce" />
    <div class="form-group">
        <label for="card-number">Card Number:</label>
        <div class="form-control" id="card-number"></div>
    </div>
    <div class="form-group">
        <label for="cvv">CVV:</label>
        <div class="form-control" id="cvv"></div>
    </div>
    <div class="form-group">
        <label for="expiration-date">Expiration Date:</label>
        <div class="form-control" id="expiration-date"></div>
    </div>
    <div class="text-center">
        <input class="btn btn-primary" type="submit" value="Complete Order" />
    </div>
</form>
@section Scripts{
    <script src="https://js.braintreegateway.com/web/3.42.0/js/client.min.js"></script>
    <script src="https://js.braintreegateway.com/web/3.42.0/js/hosted-fields.min.js"></script>
    <script type="text/javascript">
        braintree.client.create({
            authorization: '@ViewBag.BraintreeClientToken'
        }, function (clientErr, clientInstance) {
            if (clientErr) {
                console.error(clientErr);
                return;
            }
            braintree.hostedFields.create({
                client: clientInstance,
                styles: {
                    'input.invalid': {
                        'color': 'red'
                    },
                    'input.valid': {
                        'color': 'green'
                    }
                },
                fields: {
                    number: {
                        selector: '#card-number',
                        placeholder: '4111 1111 1111 1111'
                    },
                    cvv: {
                        selector: '#cvv',
                        placeholder: '123'
                    },
                    expirationDate: {
                        selector: '#expiration-date',
                        placeholder: '10/2019'
                    }
                }
            }, function (hostedFieldsErr, hostedFieldsInstance) {
                    if (hostedFieldsErr) {
                    console.error(hostedFieldsErr);
                    return;
                }
                    var form = document.querySelector("form");
                    form.addEventListener('submit', function (event) {
                    event.preventDefault();
                    hostedFieldsInstance.tokenize(function (tokenizeErr, payload) {
                        if (tokenizeErr) {
                            console.error(tokenizeErr);
                        }                        
                        //console.log('Got a nonce: ' + payload.nonce);
                        document.querySelector('#braintreeNonce').value = payload.nonce;
                        form.submit();
                    });
                }, false);
            });
        });
    </script>
}