<!--
 This view is located in the Shared/Components/NavigationMenu folder.
 It is responsible for displaying the category selected highlighted in the left side navigation menu

-->
@model IEnumerable<string>

<a class="btn btn-block btn-secondary" asp-action="List" asp-controller="Product" asp-route-category="">Home</a>
@if (User.Identity.IsAuthenticated) { 
    @if (User.Identity.Name.Equals("Admin")) { 
        <a class="btn btn-block btn-secondary" asp-action="Index" asp-controller="Admin" asp-route-category="">Products</a>
        <a class="btn btn-block btn-secondary" asp-action="List" asp-controller="Order" asp-route-category="">Orders</a>
    }
}
@foreach (string category in Model)
{
    <a class="btn btn-block
      @(category == ViewBag.SelectedCategory ? "btn-primary":"btn-secondary")"
       asp-action="List"
       asp-controller="Product"
       asp-route-category="@category"
       asp-route-productPage="1">
        @category
    </a>
}
